@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Lobster&family=Montserrat:wght@300;400;500;700&family=Open+Sans:wght@300;400;600&family=Oswald:wght@300;400;500;600;700&family=Poppins:wght@400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
}

:root {
    --grey-dark: #C7CADD;
    --grey-light: #BFC9ED;
    --grey-lighter: #E5E5E5;
    --blue-light: #5E81F4;

}

*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: var(--grey-dark);
}

.container {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 27.2rem 1fr 38.4rem;
}

.main {
    background-color: var(--grey-lighter);
}
.sidebar-left {
    background-color: #fff;
}

.sidebar-right {
    background-color: #fff;
}


/* Left sidebar */
.sidebar-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    margin: 4.8rem 0;
}


/* Button */
.btn {
    color: var(--grey-dark);
    background-color: var(--blue-light);
    padding: 1rem 3.97rem;
    border-radius: 1rem;
    border: 1px solid var(--blue-light);

    font-weight: 500;
    font-size: 16px;
    color: var(--grey-dark);
}

.nav-bar {
    margin-top: 4.8rem;
}

.nav-bar ul {
    list-style: none;
}

.nav-links {
    margin-bottom: 4.9rem;
    
}

.nav-links a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.nav-links a span {
    margin-left: 2.18rem;
    font-weight: 500;
    font-size: 16px;
    color: var(--grey-dark);
}

.upgrade {
    margin-top: 11.1rem;
}